@use "../../assets/styles/mixins"as mixin;

.login-container {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.05);

    .login-content {

        max-height: 75%;
        display: flex;
        background-color: #fff;
        box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 0.05);

        .login-form__container {
            flex-basis: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 50px 100px;

            @include mixin.tablet {
                flex-basis: 60%;
                padding: 40px 20px;
            }

            @include mixin.moblie {
                flex-basis: 100%;
                padding: 40px 20px;
            }

            .login-form__content {
                width: 100%;
                height: 100%;

                h2+div {
                    color: rgba($color: #000000, $alpha: 0.4);
                    margin-bottom: 1rem;
                    font-size: 0.825rem;

                    span {
                        margin-right: 0px !important;
                    }

                    span+span {
                        margin-left: 2px;

                        color: #F9A826;
                    }
                }

                .form-group {
                    position: relative;
                    margin-bottom: 1.5rem;

                    label {
                        margin-bottom: 0.625rem;
                        font-size: 0.825rem;
                    }

                    input {
                        padding: 0.525rem 0.75rem;
                        font-size: 0.925rem;
                    }

                    .forgot-password {
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: #4a66b4;
                        cursor: pointer;
                        font-size: 0.875rem;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: -moz-none;
                        -o-user-select: none;
                        user-select: none;
                    }
                }

                .sign-up {
                    margin-top: 1rem;
                    font-size: 0.875rem;

                    span:nth-child(1) {
                        color: #8e8e8e;
                    }

                    span:nth-child(2) {
                        color: #4a66b4;
                        cursor: pointer;
                        font-size: 0.875rem;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: -moz-none;
                        -o-user-select: none;
                        user-select: none;
                    }
                }

                button {
                    color: #fff;
                }
            }
        }

        .login-img {
            flex-basis: 50%;
            padding: 5%;
            background-color: #f0f4f5;

            img {
                width: 100%;
                object-fit: cover;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: -moz-none;
                -o-user-select: none;
                user-select: none;
            }

            @include mixin.moblie {
                display: none;
            }
        }

        .login-other {
            margin-top: 50px;
            text-align: center;

            .separate {
                text-transform: uppercase;
                color: rgba($color: #000000, $alpha: 0.4);
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.05);
                    height: 1px;
                    left: 0;
                    top: 50%;

                }

                span {
                    position: relative;
                    font-size: 0.875rem;
                    background-color: #fff;
                    padding: 0 5px;
                    z-index: 1;
                }
            }

            .login-dialog {
                margin-top: 30px;
                display: flex;
                align-items: center;

                @include mixin.moblie {
                    flex-direction: column;

                    button {
                        &:first-child {
                            margin-right: 0px;
                            margin-bottom: 15px;
                        }
                    }
                }

                button {
                    padding: 10px 12px;
                    font-size: 0.8245rem;
                    border: none;
                    outline: none;
                    box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 15%);
                    background-color: #fff;
                    border-radius: 30px;

                    &:hover {
                        background-color: rgba($color: rgb(234, 231, 231), $alpha: 0.5);
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 5px;
                    }

                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}