.product {
    &__image {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &-list {
            width: 40%;
            padding-right: 20px;

            &-item {
                cursor: pointer;

                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        &-main {
            flex-grow: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        &-item {
            margin-bottom: 15px;

            h2 {
                font-weight: 600;
            }

            h3 {
                font-size: 1.985rem;
                font-weight: 600;
                color: #F7D716;
            }

            &-tag {
                display: flex;
                font-size: 0.825rem;

                .tag-category {
                    margin-right: 20px;

                }

                .tag {
                    margin-right: 5px;
                    color: rgba($color: #000000, $alpha: 0.4);
                }
            }

            &__quantity {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__btn {
                    min-width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, .05);
                    text-align: center;
                    line-height: 33px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.1);
                    }
                }

                span {
                    margin: 0px 20px;
                }
            }
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

        .btn-add {
            flex: 1 1;
            margin: 25px 18px 25px 15px;
            padding: 10px 20px;
            border-radius: 30px;
            color: #fff !important;
            background-color: #F7D716;
            outline: none;
            border: none;
            box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
            font-size: 1.125rem;
            line-height: 1.4;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 1.425rem;
                transform: translateX(-100%);

            }

            &:hover {
                opacity: 0.9;
            }

        }

        .btn-wishlist {
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .05);
            text-align: center;
            line-height: 43px;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
        }
    }

    &-commits {
        margin-top: 30px;

        &__content {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding: 4px 7px;
            width: 50%;
            i {
                color: #333333;
                font-size: 18px;
                margin-right: 5px;
            }

            span {
                font-size: 0.925rem;
            }
        }
    }
}
.overview{
    border-bottom: 1px solid #E6E6E6;
    border-radius: 0.25rem;
    padding-left: 20px;
}
.mapouter{position:relative;text-align:right;height:307px;width:395px;}
.gmap_canvas {overflow:hidden;background:none!important;height:307px;width:395px;}
.location{
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #333333;
}