.container__search{
    width: 100%;
}
.ant-input-number:hover .ant-input-number-handler-wrap {
      opacity: 1 !important;
    }
.searchButton {
    background-color: #d32f2f;
    border: none;
    border-radius: 8px;
    color: white;
    margin-left: 70px;
    padding: 5px 20px;
}

.searchButton:hover {
    font-weight: 400;
    background-color: #cd5959;
}
